body{
  font-family: Open Sans;
  background-color: rgb(0,182,209);
}

main.container{
  color: white;
  margin-left: 20%;
}
h1.title{  //title team
  font-weight: 200;
  margin-top: 5%;
  font-size: 2.8em;
  margin-left: 32%;
  margin-bottom: 10%;
}
section.columns{  //big section with images and text
  width: 100%;
  div.first{
    width: 100% * (1/4);
    display: inline-block;
    img{
      margin-left: 20%;
      margin-bottom: -5%;
    }
    h3{
      text-align: center;
    }
    p{
      text-align: center;
      font-style: italic;
      margin-top: -8%;
      font-size: 0.9em;
    }
  }
  div.second{
    width: 100% * (1/4);
    display: inline-block;
    img{
      margin-left: 20%;
      margin-bottom: -5%;
    }
    h3{
      text-align: center;
    }
    p{
      text-align: center;
      font-style: italic;
      margin-top: -8%;
      font-size: 0.9em;
    }
  }
  div.third{
    width: 100% * (1/4);
    display: inline-block;
    img{
      margin-left: 20%;
      margin-bottom: -5%;
    }
    h3{
      text-align: center;
    }
    p{
      text-align: center;
      font-style: italic;
      margin-top: -8%;
      font-size: 0.9em;
    }
  }
} //end section.columns

div.link{  // work with us link button
  border: 1px solid white;
  margin-left: 27.5%;
  margin-top: 10%;
  border-radius: 20px;
  width: 18%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.1em;
  font-weight: bolder;

  a{
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-size: 0.8em;
    font-family: sans-serif;
  }
}

div.link:hover{
  background-color: white;
  a{
    color: rgb(0,182,209);
  }
}

@media (max-width: 1024px) and (min-width: 768px){      //Tablet view port
h1.title{
  margin-left: 30%;
}
section.columns{
  margin-left: 25%;

  div.first{
    display: block;
    margin-bottom: 10%;
    img{
      margin-left: 8%;
    }
  }
  div.second{
    display: block;
    margin-bottom: 10%;
    img{
      margin-left: 8%;
    }
  }
  div.third{
    display: block;
    img{
      margin-left: 8%;
    }
  }
}
div.link{
  margin-left: 24%;
  width: 25%;
}

} //end tablet view

@media (max-width: 767px) {           //Mobile view port
  h1.title{
    margin-left: 18%;
  }
  section.columns{
    margin-left: 12%;

    div.first{
      width: 50%;
      display: block;
      margin-bottom: 10%;
      img{
        margin-left: -2%;
      }
      h3{
        text-align: left;
        margin-left: 25%;
      }
      p{
        margin-left: 5%;
      }
    }
    div.second{
      width: 50%;
      display: block;
      margin-bottom: 10%;
      img{
        margin-left: -2%;
      }
      h3{
        text-align: left;
        margin-left: 25%;
      }
      p{
        margin-left: 5%;
      }
    }
    div.third{
      width: 50%;
      display: block;
      margin-bottom: 10%;
      img{
        margin-left: -2%;
      }
      h3{
        text-align: left;
        margin-left: 25%;
      }
      p{
        margin-left: 5%;
      }
    }
  }
  div.link{
    margin-left: 10%;
    width: 50%;
  }
} //end mobile view
